version: "3.8"

services:
  web:
    build: ./app
    container_name: flask_web
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=demo_user
      - DB_PASS=demo_pass
      - DB_NAME=demo_db
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: Sai@2022
      MYSQL_DATABASE: demo_db
      MYSQL_USER: demo_user
      MYSQL_PASSWORD: demo_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
